<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample Webpage</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">
                <a href="#">ProsperX</a>
            </div>
            <ul class="menu">
                <li ><a style="color:rgba(251, 46, 134, 1);" href="#">Home</a></li>
                <li><a href="loan-prediction.html">Loan Prediction</a></li>
                <li><a href="#">Ai Literacy Tools</a></li>
                <li><a href="#">AI Chatbot</a></li>
            </ul>
            <div class="language">
                <a href="#">English</a>
            </div>
        </nav>
    </header>
    <div class="about">
        <h2>About Us</h2>
        <p>Welcome to ProsperX! We help you determine your loan eligibility quickly and easily. Our<br> expert tools analyze your financial profile to provide clear insights on your loan options. <br>Empowering you to make informed financial decisions is our mission. Let us guide you on your<br> path to achieving your financial goals.</p>
    </div>
    <main>
        <div class="content">
            <div class="text-section">
                <p>Do you know that if<br> you are applicable<br> for a loan?'</p>
                <button style="margin-left: 190px;">Loan Predictions</button>
            </div>
            <div class="image-section">
                <img src="static/img.jpeg" alt="Sample Image">
            </div>
        </div>
    </main>
    <footer>
        <div class="footer-columns">
            <div class="column">
                <p><strong style=" font-family: Josefin Sans; font-size: 25px; color: black;">ProsperX</strong></p>
                <input type="email" placeholder="Enter Email Address">
                <button>Sign Up</button><br>
                <p>Contact Info</p>
                <p>180 AngMo Kio Ave B, Singapore 569830</p>
                <div class="icons">
                    <!-- Placeholder for social media icons -->
                    <span><a href="#" class="fa fa-linkedin"></a></span>
                    <span><a href="#" class="fa fa-facebook"></a></span>
                    <span><a href="#" class="fa fa-twitter"></a></span>
                </div>
            </div>
            <div class="column">
                <p><strong>Customer Care</strong></p>
                <p>Contact Us</p>
                <p>FAQ</p>
            </div>
            <div class="column">
                <p><strong>Our Services </strong></p>
                <p>Loan Peedictions</p>
                <p>AI literacy</p>
                <p>Ai ChatBot</p>
            </div>
        </div>
    </footer>
</body>
</html>
